.navBar {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
button {
  margin-bottom: 3px;
}

.home-page {
  margin-top: 10px;
}

h1 {
  display: inline-block;
}
